@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

@layer base {
  a {
    @apply text-primary no-underline decoration-transparent underline-offset-4 transition duration-300  ease-in-out hover:decoration-gray-500;
  }

  p > a {
    @apply text-primary decoration-gray-300;
  }
}
